@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #F5B727, #FFE096);
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 15px 10px #ca972091;
    width: 600px;
    padding: 8px;
    margin: auto;

}

h1 {
    color: #A85142;
    text-align: center;
    text-shadow: 1px 1px 3px #6e352b8f;
}

h2 {
    color: #549CA8;
}

p{
    text-align: justify;
}